<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :platform %>
    <%= form.text_field :platform, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :thoughts %>
    <%= form.text_area :thoughts, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :released_on %>
    <%= form.text_field :released_on, class: 'form-control datepicker', data: { provide: 'datapicker' } %>
  </div>

  <%
=begin%>
 <div class="form-row">
    <div class="form-group">
      <%= form.label :released_on %>
      <%= form.date_select :released_on, {start_year: 1950 }, class: 'form-control' %>
    </div>
  </div>
<%
=end%>

  <div class="form-group">
    <%= form.label :completed_on %>
    <%= form.date_select :completed_on, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
